.srf-tools__banner {
  position: fixed;
  top: 9px;
  right: -58px;
  z-index: 100000;
  transform: rotate( 45deg);
  color: white;
  padding: 4px 69px;
  background-color: grey;
  transform-origin: center;
  pointer-events: none;
  opacity: .7;
  font-size: 12px;
}

.srf-tools__banner.srf-tools__banner--test {
  background-color: green;
}

.srf-tools__banner.srf-tools__banner--stage {
  background-color: blue;
}

.srf-tools__banner.srf-tools__banner--prod {
  background-color: red;
}
