.srf-extension-daily {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
  position: fixed;
  bottom: 24px;
  left: 24px;
  z-index: 100001;

  padding: var(--ds-space-075,6px);
  background: var(--ds-surface-overlay,white);
  box-shadow: var(--ds-shadow-overlay,4px 8px 14px 0 rgba(9,30,66,0.25));
  border-radius: 3px;
}

.srf-extension-daily__ui-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
}

.srf-extension-daily__toggle {
  cursor: pointer;
}

.srf-extension-daily label {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: sans-serif;
  cursor: pointer;
}

.srf-extension-daily img {
  margin-bottom: 4px;
  width: 42px;
}

.srf-extension-daily input {
  display: none;
}

.srf-extension-daily input:checked + label:after {
  content: '✅';
  position: absolute;
  bottom: -6px;
  left: calc(50% + 8px);
  z-index: 1;
}

.srf-extension-daily input:checked + label {
  color: #b1b1b1;
  order: 1;
}

.srf-extension-daily input:checked + label img {
  filter: grayscale(1);
}

.srf-extension-daily--closed label,
.srf-extension-daily--closed input,
.srf-extension-daily--closed .srf-extension-daily__select,
.srf-extension-daily--closed .srf-extension-daily__options {
  display: none;
}
