
@font-face {
    font-family: 'SRG_SSR_Text_VF';
    src: url(https://www.srf.ch/var/storage/assets/webpack/fonts/SRGSSRTypeVF_Text_W_Wght.woff2) format("woff2");
    font-weight: 300 800;
    font-display: swap;
}

:root {
    --container-bg: #fff;
    --section-bg: rgba(218,218,210,1);
    --text-color: #222;
    --link-color: #222;
    --link-color-hover: #8d0614;
    --link-color-active: #6a0b0c;
    --input-bg: #fff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --container-bg: #222;
        --section-bg: #333;
        --text-color: #fff;
        --link-color: #fff;
        --link-color-hover: #ff9193;
        --link-color-active: #ffbbbc;
        --input-bg: #383732;
    }
}

* {
    box-sizing: content-box;
}

body {
    margin: 0;
    background: var(--container-bg);
    color: var(--text-color);
    display: inline-block;
    font-family: SRG_SSR_Text_VF, sans-serif;
    font-variation-settings: "wght" 400;
    font-size: 0.9rem;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover:not(.link--button) {
    color: var(--link-color-hover);
}

a:active:not(.link--button) {
    color: var(--link-color-active);
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    margin: 0 0 4px
}

h1, h2, h3 {
    font-variation-settings: "wght" 500;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

header {
    display: flex;
    align-items: center;
    gap: 8px;
}

header h1 {
    margin: 0;
    flex-grow: 1;
}

.icon-button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    align-self: stretch;
}

.icon-button svg {
    opacity: 0.25;
    margin-right: -8px;
}

@media (prefers-color-scheme: dark) {
    .icon-button svg {
        filter: invert();
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 260px);
    padding: 8px;
    gap: 8px 8px;
}

.l-full-width {
    grid-column: 1 / -1;
}

.h-bg-production.h-bg-production {
    background-color: rgba(201,16,36,.24);
}

.section {
    background-color: var(--section-bg);
    flex: 1 1 auto;
    border-radius: 2px;
}

.section__wrapper {
    padding: 8px;
}

.section__title {
    margin: 0 0 8px;
}

.section__content {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0 16px;
}

.section__content--horizontal {
    flex-direction: row;
}

.section__row {
    flex: 1 1 auto;
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.section__row input {
    margin: 0;
}

.section__row > *:first-child {
    margin-right: 8px;
}

.link {}

.link--button {
  color: #4e4d47;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  min-width: calc(16px + 24px + 16px);
  height: 40px;
  max-width: 100%;
  padding: 0 16px;
  margin: 0;
  letter-spacing: 0.4px;
  background: #ebebe5;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
  border: none;
  border-radius: 2px;
  transition:
    background-color 0.3s ease-in-out,
    width 0.3s ease,
    box-shadow 0.3s ease-in-out,
    filter 0.3s ease-in-out;
}

.link__icon {
    width: 40px;
    margin-left: -8px;
}

.linklist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 8px;
    margin: -8px;
    background: var(--container-bg);
}

.linklist > div {
    padding: 8px;
    background: var(--section-bg);
    min-height: 100px;
}

.js-dev-only,
.js-page-actions,
.js-article-actions {
    display: none;
}

[data-mode^='dev'] .js-dev-only {
    display: block;
}

[data-content-class^='landingpage'] .js-page-actions {
    display: block;
}

[data-content-class^='article'] .js-article-actions {
    display: block;
}

[data-content-class^='show'] .js-ais-show-id {
    display: block;
}

[data-content-class^='show'] .js-episode-id {
    display: block;
}

.content-id {
    position: relative;
    cursor: pointer;
}

.content-id__label {
    position: absolute;
    left: 4px;
    font-family: SRG_SSR_Text_VF;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: var(--text-color);
    top: 50%;
    margin-top: -0.4rem;
    line-height: 0.8rem;
}

.content-id__input {
    background-color: var(--input-bg);
    border: 1px solid var(--text-color);
    border-radius: 2px;
    padding: 8px 24px 8px 24px;
    font-size: 0.8rem;
    color: var(--text-color);
    outline: none;
}

.content-id__icon {
    position: absolute;
    right: 4px;
    top: 7px;
    width: 1rem;
}

.content-id__icon * {
    stroke: var(--text-color);
}

.show-environment {
    position: relative;
}

.show-environment__input {
    display: none;
}

.show-environment__icon {
    position: absolute;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
}

.show-environment__icon * {
    fill: var(--text-color);
}

.show-environment__icon ellipse {
    opacity: 0.5;
    transition: opacity 0.2s;
}

.show-environment__label {
    cursor: pointer;
    padding-left: 30px;
    display: block;
}

.show-environment__input:checked + .show-environment__icon {
    transform: translateY(-50%) rotate(180deg);
}

.show-environment__input:checked + .show-environment__icon ellipse {
    opacity: 1;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 0.7rem;
}
  
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--text-color);
}
  
.separator:not(:empty)::before {
    margin-right: .25em;
}
  
.separator:not(:empty)::after {
    margin-left: .25em;
}
